<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About me</h2>
                <hr class="light">
                <p class="text-faded">Hi, I'm Amber and i'm 18 years old currently studying songwriting at Leeds College of Music.</p>
                <p class="text-faded">Having always been interested in photography specifically film, 
                    after my dad gave me his old Canon AE-1, 
                    my goal is to help promote and capture the talented people I'm surrounded by 
                    through the medium of photography and provide them with material to promote their own projects.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
